# Python
*.py[cod]
__pycache__/
*.so

# Virtual Environment
venv/
env/

# Django
db.sqlite3
*.log
staticfiles/
media/

# Environment Variables
.env

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Other
*.pot
*.mo
*.swp

ngrok.exe